In [ ]:
Data Types and Structures Question

# what are a data structures, and why are they important?

In [ ]:
 A data structure is a way of organizing and storing data in computer so it can be used efficiently.
importance : They help in managing large amount of data, improve perfomance( like faster searching or sorting), and are essential for desiging efficent
alogorthms.

# Explain the difference between mutable and immutable data types with examples.

In [ ]:
mutable data types can be changed after creation while immutable data types cannot be changed once created.
mutable:list-my _lisit = [1, 2, 3]; you can do my_list.append(4)
immutable:Tuple-my_tuple = (1, 2, 3);you cannot add or change elements.

# what are the main difference between lists and tuples in python?

In [ ]:
list vs tuple (python)- short answer:
List: mutable< uses[ ], slower, for changing data.
Tuple: immutable,uses(), faster,for fixed data.

# Describe how dictionaries store data.

In [ ]:
Dictionaries store data as key-value pairs.Each key is unique and maps to a specific value.They use a hash table internally for fast lookup.

# why might you use a set instead of a list in python?

In [ ]:
Use a set to remove duplicates and for fast membership checks.

In [2]:
# what is a string in python ,and how is it different from a list?

In [ ]:
A string in python is a sequence of characters.
difference:
. string is immutable, stores text.
. list is mutable, can store mixed data types.

In [ ]:
# How do tuples ensure data intergity in python?

In [ ]:
Tuples are immutable, so their data can't be changed after creation.This helps ensure data intergrity by preventing accidental modifications.

In [3]:
# what is hash table< and how does it relate to dictionaries in python?

In [ ]:
A hash table is a data structure that stores data using key-value pairs with fast access using a hash function.
in python,dictionaries use hash tables interally to quickly find values by their keys.

In [ ]:
# Can lists contain different data types in python?

In [ ]:
Yes, lists in python can contain different data types, like integers,string,and objects in the same list.

In [4]:
# Explain why strings are immutable in python.

In [ ]:
String are immutable to make them secure, reliable, and usable as dictionary keys.

In [ ]:
# What advantages do dictionaries offer over lists for certain tasks?

In [ ]:
Dictionaries offer faster lookups using keys and are better for storing key-value pairs, unlike lists which use index postions.

# Describe a scenario where using a tuple would be preferable over alist.

In [ ]:
Use a tuple when you want to store fixed data that should't change, like a person's coordinates or a date.

# How do sets handle duplicate values in python?

In [ ]:
Sets automatically remove duplicate values and only store unique elements in python.

# How does the "in" keywords work differently for lists and dictionries?

In [ ]:
In lists, in checks for a value; in dictionaries, it checks for a key.

# Can you modfiy the elements of a tuple? Explain why or why not.

In [ ]:
NO,you cannot modify a tuple's element because tuples are immutable in python.

# What is nested dictionary< and given an example of its use case?

In [ ]:
A nested dictionary stores another dictionary as a value.
{"john": {"age": 25, "city": "NY"}}

# Describe the time coimplexity of accessing elements in a dictionary.

In [ ]:
Accessing elements in a dictionary has0(1) time complexity on average, due to hashing.

# In what situations are lists preferred over dictionaries?

In [ ]:
Lists are preferred when you need to stores ordered data or access items by position (index).

# Why are dictionaries considered unordered, and how does that affect data retrieval?

In [ ]:
Dictionaries are considered unordered because their items aren't stored by position.
Data is retrieved by key,not by order.

# Explain the difference between a list and a dictionary in terms of data retrieval.

In [ ]:
In a list, data is retrieved by index(position).
In a dictionary, data is retrived by key.

                           #Pratical question

# Write a code to create a string with your name and print it.

In [3]:
name = "hema"
print(name)

hema

# Write a code to find the length of the string "Hello World".

In [4]:
text = "hello world"
print(len(text))

11

# Write a code to slice the first 3 characters from the string "Python Programming".

In [5]:
text = "python programming"
print(text[:3])

pyt

# Write a code to convert the string "hello" to uppercase.

In [6]:
text = "hello"
print(text.upper() )

HELLO

# Write a code to replace the word "apple" with "orange" inthe string "i like apple".

In [8]:
text =" FI like apple"
print(text.replace("apple","orange"))

 FI like orange

# Write a code to create a list with numbers 1 to 5 and print it.

In [9]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

# Write a code to append the number 10 to the list[1,2,3,4]

In [11]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

# Write a code to remove the number 3 from the list[1,2,3,4,5]

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

# Write a code to access the second element in the list['a','b','c','d'].

In [12]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

# Write a code to reverse the list [10,20,30,40,50].

In [14]:
numbers = [10, 20, 30, 40, 50]
reversed_numbers = numbers[ ::-1]
print(reversed_numbers)

[50, 40, 30, 20, 10]

# Write a code to create a tuple with the elements 100,200,300 and print it.

In [15]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

# Write a code to access the second-to-last elements of the tuple('red','green','blue','yellow').

In [16]:
colors = ('red','green','blue','yellow')
print(colors[-2])

blue

# Write a code to find the minimum number in the tuple(10,20,5,15).

numbers = (10, 20, 5, 15)
print(min(numbers))

# Write a code to find the index of the element "cat" in the tuple('dog','cat','rabbit').

In [7]:
animals = ('dog', 'cat', 'rabbit')
index = animals.index('cat')
print(index)

1

# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [5]:
fruits = ("apple", "banana", "orange")
print("kiwi" in fruits)

False

# Write a code to create a set with the elements'a','b','c'and print it.

In [9]:
my_set = {'a','b','c'}
print(my_set)

{'c', 'b', 'a'}

# Write a code to clear all elements from the set{1,2,3,4,5}.

In [10]:
my_set = {1,2,3,4,5}
my_set.clear()
print(my_set)

set()

# Write a code to remove thhe elements 4 from the set{1,2,3,4}.

In [11]:
my_set = {1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

# Write a code to find the union of two sets {1,2,3} and {3,4,5}.

In [13]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

# Write a code to find the intersection of two sets {1,2,3} and {2,3,4}.

In [14]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1 & set2)

{2, 3}

# Write a code to create a dictionary with the keys"name","age",and "city",and print it.

In [17]:
person = {"name": "Hema", "age": 25, "city": "delhi"}
print(person)

{'name': 'Hema', 'age': 25, 'city': 'delhi'}

# Write a code to add a new key-value pair "country":"USA" to the dictionary {'name':,:'john','age':25}.

In [18]:
person = {'name':'john', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'john', 'age': 25, 'country': 'USA'}

# Write a code to access the value associated with the key"name"in the dictionary ['name':'alice','age':30}.

person = {'name': 'alice', 'age': 30}
print(person['name'])

# Write a code to remove the key"age"from the dictionary {'name':'bob','age':22,'city':'New york'}.

person = {'name':'bob', 'age':22, 'city': 'new york'}
del person['age']
print(person)

# Write a code to check if the key"city" exists in the dictionary {'name':'Alice','city':'paris"}.

In [19]:
person = {'name' : 'alice', 'city' :'paris'}
print('city' in person)

True


# Write a code to create a list, a tuple,and a dictionary, and print them all.

In [21]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a':7, 'b' : 8}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 7, 'b': 8}

# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order,and print the result.(replaced)

In [25]:
import random

numbers = [random.randint(1, 100) for _ in range(5) ]
sorted_numbers = sorted(numbers)
print(sorted_numbers)

[46, 48, 69, 69, 91]

# Write a code to create a list with strings and print the element at the third index.

In [27]:
words =["cat", "rat", "dog", "parrot", "ant"]
print(words[3])

parrot

# Write a code to combine two dictionaries into one and print the result.

In [29]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

# Write a code to convert a list of stings into a set.

In [30]:
my_list = ["apple", "banana", "cherry"]
my_set = set(my_list)
print(my_set)

{'banana', 'apple', 'cherry'}